%h1 Listing deliveries

%table
  %thead
    %tr
      %th Date
      %th Product
      %th Sklad
      %th Quantify
      %th Aasm state
      %th
      %th
      %th

  %tbody
    - @deliveries.each do |delivery|
      %tr
        %td= delivery.date_time
        %td= delivery.product
        %td= delivery.sklad
        %td= delivery.quantify
        %td= delivery.aasm_state
        %td= link_to 'Show', delivery
        %td= link_to 'Edit', edit_delivery_path(delivery)
        %td= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Delivery', new_delivery_path
