%h1= t('history_delivery')

%table
  %thead
    %tr
      %th= t 'delivery_date'
      %th= t 'delivered'
      %th= t 'updated_at'

  %tbody
    - @deliveries.each do |consignment,values|
      %tr
        %td= values[0][:date_time]
        %td
          %ul
            - values.each do |product|
              %li
                = "#{product[:name]} - #{product[:quantify]} ะตะด."
        %td= values[0][:created_at]

