= form_with(model: history_delivery) do |form|
  - if history_delivery.errors.any?
    #error_explanation
      %h2
        = pluralize(history_delivery.errors.count, "error")
        prohibited this history_delivery from being saved:
      %ul
        - history_delivery.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :delivered
    = form.text_area :delivered
  .actions
    = form.submit
